__pycache__
__pycache__/*
tor_log.txt
config.json
blocked_hosts.json
temp_torrc.txt
pid
exclude_hosts.json
bundles/tor-expert-bundle-windows-x86_64-13.5.23
bundles/tor-expert-bundle-linux-x86_64-15.0
bundles/*-sha256sums.txt
bundles/tor-expert-bundle-windows-x86_64-13.5.24.tar.gz
bundles/tor-expert-bundle-windows-x86_64-15.0a4.tar.gz
bundles/tor-expert-bundle-windows-x86_64-15.0a4/